:root {
    --foreground-color: #aaffaa;
}
body {
    background-color: black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    
}
html, body {
    
    height: 100%;
    display: block;
}
* {
    font-size: 28pt;
    font-family: "Courier New";
    color: green;
}
input, select {
    display: inline-block;
    background-color: transparent;
    border: 1px solid var(--foreground-color);
}
.btn {
    background: none;
    border: 1pt solid var(--foreground-color);
    color: var(--foreground-color);
}
.btn-primary {
    color: black;
    
    background-color: var(--foreground-color);
}
.center {
    
}